#flex-container {
  display: flex;
  justify-content: center;
}

.order-container {
  height: 5px;
  width: 10%;


}

table, th, td {
  border: solid #1e1238 1px;
  color: black;
}


section {
  text-align: center;
}

main {
  background-color: #a681ef;

  margin-top: 100px;
}

.hidden {
  display: none;
}

.picked-up:hover {
  color: red;
}

.owner-reply:hover {
  color: rgb(0, 132, 255);
}
