// See: https://sass-lang.com/

.fa-shopping-cart {
  display: flex;
  margin: 0 1em;
  transform: scale(1.5, 1.5);
}

.orders {
  display: none;
  color: white;
  padding: 0.5em 1em;
  border: solid black 0.01em;
  background-color: #221244c7;
  position: fixed;
  top: 120px;
  right: 10px;
  text-align: center;
  z-index: 1;
  h4 {
    padding: 0;
    margin: 0.75em;
  }
}

#current-user {
  display: none;
}

table {
  text-align: center;
}

td {
  height: 100px;

  button {
    color: white;
    font-size: 1em;
    background-color: transparent;
    border: transparent;
  }

  #checkout {
    border: solid white 0.2em;
    border-radius: 10%;
  }
}

.cart {
  border: solid white 0.1em;
  border-radius: 10%;
  padding: 1em;
  padding-right: 0;
  margin: 0.2em;
}

.cart-food-photo {
  width: 200px;
}

.cart-food-name {
  width: 200px;
}

.cart-food-quantity {
  width: 100px;
}

.cart-food-cost {
  width: 100px;
}
.cart-food-remove {
  width: 50px;
}

.food-icon {
  height: 7em;
  width: 7em;
}

.remove-item:hover {
  color: red;
}

#checkout:hover {
  background-color: #a681ef;
}

.cart:hover {
  color: black;
}

.update-button {
  border: whitesmoke .1em solid;
  border-radius: 10%;
}

.update-button:hover {
  background-color: #a681ef;
}

@media (max-width: 748px) {
  .orders {
    width: 100%;
    right: 0;
    font-size: large;
  }

  .food-icon {
    height: 3em;
    width: 3em;
  }

  .cart-quantity {
    width: 33%;
    font-size: large;
  }

  .menu-ingredients {
    padding: 2%;
  }

  .update-button {
    width: 80;
  }
}

