.menu-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.menu-image {
  width: 250px;
  height: 200px;
  margin-right: 20px;
}

.food-card-holder {
  width: 80%;
  height: auto;
}

.food-card {
  align-items: center;
  padding: 5%;
  margin: 5%;
  width: 80%;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.food-card:hover {
  border-color: #221244;
  box-shadow: 10px 10px 10px 0px #221244;
}

.menu-button {
  width: 5em;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.food-card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
}

.food-info {
  display: flex;
  justify-content: space-around;
}

#meal-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-name{
  font-weight: bold;
}

.menu-ingredients {
  font-style: italic;
}

.type-pick {
  font-size: large;
}

@media (max-width: 748px) {

  .menu-image {
    height: 20em;
    width: 100%;
  }

  .food-info {
    display: block;
  }

  .food-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-desc {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .menu-key {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    margin: 1%;
  }
}

