nav {
  height: 120px;
  width: 100%;
  background-color: #221244;
  color: #ffff;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
}

.grublogo {
  width: 25%;
  height: auto;
  margin-left: 5%;
}

.cart {
  display: flex;
  justify-content: space-between;
}

.food-card {
  display: flex;
  justify-content: space-between;
}

.food-type {
  padding: 0;
}

button.type-pick {
  width: -webkit-fill-available;
  height: 50px;
  border: none;
}

button.type-pick:hover {
  background-color: #a681ef;
  color: antiquewhite;
  border-color: #221244;
}
